<p-dialog
  header="Política de Privacidad"
  [modal]="true"
  draggable="false"
  resizable="false"
  [(visible)]="visible"
  (onHide)="onHide()"
  [style]="{ width: '50rem' }">
  <strong class="text-700">Fecha de Entrada en Vigor:</strong>
  <p class="text-600 pt-1">03/08/2024</p>

  <h4 class="text-700">1. Introducción</h4>
  <p class="text-600">
    En "Mis Gastos App", valoramos tu privacidad y estamos comprometidos a
    proteger tus datos personales. Esta Política de Privacidad explica cómo
    recopilamos, utilizamos, y compartimos tu información cuando utilizas
    nuestra aplicación.
  </p>

  <h4 class="text-700">2. Información que Recopilamos</h4>
  <p class="text-600">
    Recopilamos diferentes tipos de información para proporcionarte y mejorar
    nuestra aplicación: <br />

    a. Información Personal: Esto incluye, pero no se limita a, tu nombre,
    dirección de correo electrónico, y cualquier otra información que nos
    proporciones al crear una cuenta o al utilizar nuestras funciones. <br />
    b. Información de Uso: Recopilamos información sobre cómo interactúas con la
    aplicación, como las funciones que utilizas, las preferencias que
    configuras, y los informes que generas. <br />
    c. Información del Dispositivo: Podemos recopilar información sobre el
    dispositivo que utilizas para acceder a nuestra aplicación, como el modelo
    de hardware, el sistema operativo, y el identificador único del dispositivo.
    <br />
    d. Cookies y Tecnologías Similares: Utilizamos cookies y tecnologías
    similares para mejorar tu experiencia, recordar tus preferencias, y analizar
    el uso de la aplicación.
  </p>

  <h4 class="text-700">3. Cómo Utilizamos Tu Información</h4>
  <p class="text-600">
    Usamos la información recopilada para los siguientes propósitos: <br />

    a. Proporcionar y Mejorar la Aplicación: Utilizamos la información para
    operar, mantener y mejorar las funcionalidades de la aplicación. <br />
    b. Personalización: Adaptamos la experiencia de usuario basándonos en tus
    preferencias y patrones de uso. <br />
    c. Comunicación: Podemos utilizar tu dirección de correo electrónico para
    enviarte actualizaciones, avisos técnicos, y respuestas a tus consultas.
    <br />
    d. Cumplimiento Legal: Podremos utilizar o divulgar tu información cuando
    sea necesario para cumplir con la ley. <br />
  </p>

  <h4 class="text-700">4. Compartir Información con Terceros</h4>
  <p class="text-600">
    No vendemos ni alquilamos tu información personal a terceros. Sin embargo,
    podemos compartir tu información con: <br />

    a. Proveedores de Servicios: Terceros que nos ayudan a operar y mantener la
    aplicación, siempre bajo estrictas obligaciones de confidencialidad. <br />
    b. Cumplimiento Legal: Si es necesario para cumplir con una ley, reglamento,
    o proceso legal, o para proteger nuestros derechos. <br />
  </p>

  <h4 class="text-700">5. Retención de Datos</h4>
  <p class="text-600">
    Mantendremos tu información personal durante el tiempo que sea necesario
    para proporcionarte la aplicación y cumplir con nuestras obligaciones
    legales. Una vez que ya no sea necesaria, la eliminaremos de forma segura.
  </p>

  <h4 class="text-700">6. Seguridad de la Información</h4>
  <p class="text-600">
    Implementamos medidas de seguridad razonables para proteger tu información
    contra el acceso no autorizado, la alteración, la divulgación o la
    destrucción. Sin embargo, ninguna medida de seguridad es infalible, por lo
    que no podemos garantizar la seguridad absoluta de tu información.
  </p>

  <h4 class="text-700">7. Tus Derechos</h4>
  <p class="text-600">
    Dependiendo de tu ubicación, puedes tener ciertos derechos en relación con
    tu información personal, como el derecho a acceder, corregir, o eliminar tus
    datos personales. Para ejercer estos derechos, por favor contáctanos en
    <a class="text-primary" href="mailto:privacidad@fabriziodev.com"
      >privacidad&#64;fabriziodev.com</a
    >.
  </p>

  <h4 class="text-700">8. Cambios a esta Política de Privacidad</h4>
  <p class="text-600">
    Podemos actualizar esta Política de Privacidad de vez en cuando. Te
    notificaremos sobre cualquier cambio significativo a través de la aplicación
    o por correo electrónico.
  </p>

  <h4 class="text-700">9. Contacta con Nosotros</h4>
  <p class="text-600">
    Si tienes alguna pregunta o inquietud sobre esta Política de Privacidad, por
    favor contáctanos en
    <a class="text-primary" href="mailto:contacto@fabriziodev.com"
      >contacto&#64;fabriziodev.com</a
    >.
  </p>

  <h4 class="text-700">10. Legislación Aplicable</h4>
  <p class="text-600">
    Esta Política de Privacidad se rige por las leyes de Valencia, España.
  </p>
</p-dialog>
