<div
  class="align-items-center flex justify-content-center lg:px-8 md:px-6 px-4 py-8 surface-ground ng-star-inserted min-h-screen">
  <section class="">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center">
        <h1
          class="mb-4 text-9xl tracking-tight font-extrabold lg:text-9xl text-primary-600 dark:text-primary-500">
          404
        </h1>
        <p
          class="mb-4 text-3xl tracking-tight font-bold text-900 md:text-4xl dark:text-900">
          Algo falta, algo está faltando.
        </p>
        <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">
          Lo sentimos, no podemos encontrar esa página. Encontrarás mucho para
          explorar en la página de inicio.
        </p>
        <p-button
          label="Volver atrás"
          icon="pi pi-arrow-left"
          (onClick)="volver()"
          class="p-button-success p-button-rounded p-button-text-left" />
      </div>
    </div>
  </section>
</div>
