<!-- eslint-disable @angular-eslint/template/elements-content -->
<p-dialog
  header="Editar cuenta"
  [modal]="true"
  draggable="false"
  resizable="false"
  [(visible)]="visible"
  (onHide)="onHide()"
  [autoZIndex]="false"
  [baseZIndex]="999"
  [style]="{ width: '50rem', top: '30px', zIndex: 999 }">
  <form [formGroup]="editAccountForm" (ngSubmit)="onEditAccount()">
    <div>
      <label for="nombre" class="block text-900 font-medium mb-2">Nombre</label>

      <input
        id="nombre"
        formControlName="nombre"
        type="text"
        autocomplete="off"
        placeholder="Nombre"
        pinputtext=""
        [style]="{ marginBottom: '1rem' }"
        class="p-inputtext p-component p-element w-full" />

      <div
        *ngIf="
          nombreField?.invalid &&
          nombreField?.errors &&
          (nombreField?.dirty || nombreField?.touched)
        "
        class="mb-3 -mt-[0.65rem]">
        <small
          class="text-red-400 text-sm"
          *ngIf="nombreField?.hasError('required')">
          El nombre de la cuenta es requerido.
        </small>
        <small
          class="text-red-400 text-sm"
          *ngIf="nombreField?.hasError('minlength')">
          El nombre de la cuenta debe tener al menos 3 caracteres.
        </small>
      </div>
    </div>

    <div>
      <label for="tipo" class="block text-900 font-medium mb-2">Tipo</label>

      <p-dropdown
        formControlName="tipo"
        [options]="tiposArray"
        optionLabel="label"
        optionValue="label"
        [checkmark]="true"
        inputId="tipo"
        placeholder="Selecciona el tipo"
        [style]="{
          marginBottom: '1rem',
        }"
        class="p-component p-element p-inputnumber-input p-filled w-full"
        styleClass=" p-component p-element p-inputnumber-input p-filled w-full"
        inputStyleClass=" p-component p-element p-inputnumber-input p-filled w-full" />

      <div
        *ngIf="
          tipoField?.invalid &&
          tipoField?.errors &&
          (tipoField?.dirty || tipoField?.touched)
        "
        class="mb-3 -mt-[0.65rem]">
        <small
          class="text-red-400 text-sm"
          *ngIf="tipoField?.hasError('required')">
          El tipo de la cuenta es requerido.
        </small>
      </div>
    </div>

    <div>
      <label for="moneda" class="block text-900 font-medium mb-2">Moneda</label>

      <p-dropdown
        formControlName="moneda"
        [options]="countries"
        [loading]="loadingCountries"
        [filterPlaceholder]="'Buscar moneda...'"
        [virtualScroll]="true"
        [virtualScrollItemSize]="50"
        [virtualScrollOptions]="{ showLoader: true }"
        [checkmark]="true"
        optionLabel="name"
        optionValue="code"
        [filter]="true"
        inputId="moneda"
        placeholder="Selecciona la moneda de la cuenta"
        [style]="{
          marginBottom: '1rem',
        }"
        class="p-component p-element p-inputnumber-input p-filled w-full"
        styleClass=" p-component p-element p-inputnumber-input p-filled w-full"
        inputStyleClass=" p-component p-element p-inputnumber-input p-filled w-full" />

      <div
        *ngIf="
          monedaField?.invalid &&
          monedaField?.errors &&
          (monedaField?.dirty || monedaField?.touched)
        "
        class="mb-3 -mt-[0.65rem]">
        <small
          class="text-red-400 text-sm"
          *ngIf="monedaField?.hasError('required')">
          La moneda de la cuenta es requerido.
        </small>
      </div>
    </div>

    <div>
      <label for="saldo" class="block text-900 font-medium mb-2">Saldo</label>

      <p-inputNumber
        inputId="saldo"
        formControlName="saldo"
        mode="decimal"
        [minFractionDigits]="2"
        [maxFractionDigits]="5"
        [style]="{
          marginBottom: '1rem',
        }"
        class="p-component p-element p-inputnumber-input p-filled w-full"
        styleClass=" p-component p-element p-inputnumber-input p-filled w-full"
        inputStyleClass=" p-component p-element p-inputnumber-input p-filled w-full"
        placeholder="Saldo" />

      <div
        *ngIf="
          saldoField?.invalid &&
          saldoField?.errors &&
          (saldoField?.dirty || saldoField?.touched)
        "
        class="mb-3 -mt-[0.65rem]">
        <small
          class="text-red-400 text-sm"
          *ngIf="saldoField?.hasError('required')">
          El saldo de la cuenta es requerido.
        </small>
        <small
          class="text-red-400 text-sm"
          *ngIf="saldoField?.hasError('minlength')">
          El saldo de la cuenta debe tener al menos 3 caracteres.
        </small>
      </div>
    </div>

    <div>
      <label for="nroCuenta" class="block text-900 font-medium mb-2"
        >Número de cuenta</label
      >

      <input
        id="nroCuenta"
        formControlName="nro_cuenta"
        type="text"
        autocomplete="off"
        placeholder="Número de cuenta"
        pinputtext=""
        [style]="{ marginBottom: '1rem' }"
        class="p-inputtext p-component p-element w-full" />

      <div
        *ngIf="
          nroCuentaField?.invalid &&
          nroCuentaField?.errors &&
          (nroCuentaField?.dirty || nroCuentaField?.touched)
        "
        class="mb-3 -mt-[0.65rem]">
        <small
          class="text-red-400 text-sm"
          *ngIf="nroCuentaField?.hasError('minlength')">
          El número de cuenta debe tener al menos 3 caracteres.
        </small>
      </div>
    </div>

    <div>
      <label for="descripcion" class="block text-900 font-medium mb-2"
        >Descripción</label
      >
      <textarea
        class="p-inputtext p-component p-element w-full no-resize"
        id="descripcion"
        formControlName="descripcion"
        rows="5"
        cols="30"
        [style]="{ marginBottom: '1rem' }"
        placeholder="Descripcion"></textarea>

      <div
        *ngIf="
          descripcionField?.invalid &&
          descripcionField?.errors &&
          (descripcionField?.dirty || descripcionField?.touched)
        "
        class="mb-3 -mt-[0.65rem]">
        <small
          class="text-red-400 text-sm"
          *ngIf="descripcionField?.hasError('minlength')">
          La descripcion de la cuenta debe tener al menos 5 caracteres.
        </small>
      </div>
    </div>

    <div class="flex flex-row justify-between items-center">
      <button
        pButton="pButton"
        severity="secondary"
        [text]="true"
        pRipple="pRipple"
        label="Cancelar"
        (click)="onHide()"
        type="button"
        icon="pi pi-times"></button>
      <button
        pButton="pButton"
        pRipple="pRipple"
        label="Editar cuenta"
        icon="pi pi-save"
        [loading]="loading"
        [disabled]="!editAccountForm.valid"></button>
    </div>
  </form>
</p-dialog>
