<app-dashboard-navbar>
  <app-breadcrumb [items]="categoria" />
  <div class="mt-[1rem]">
    <p-card
      header="Categorias"
      subheader="Liste todas las categorias y agregue nuevas"
      styleClass="shadow-xl">
      <p class="m-0">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
        illum doloribus vel, sit molestias ipsam assumenda facilis eligendi vero
        nisi impedit laudantium quae, totam obcaecati consequuntur temporibus
        dolorem recusandae non!
      </p>
    </p-card>
  </div>
</app-dashboard-navbar>
